<a href="https://colab.research.google.com/github/vaishnavi2460/jupyternotebook/blob/main/diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **KNN - K nearest neighbors, is one of the simplest supervised machine learning algorithm mostly.** **It stores all the avilable cases and classifies new cases based on a similarity measures.**

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv("/content/diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [ ]:
#Replace zeroes
nonzero = ['Glucose', 'BloodPressure', 'SkinThickness', 'BMI', 'Insulin']
for column in nonzero:
  df[column] = df[column].replace(0, np.NaN)
  mean = int(df[column].mean(skipna=True)) 
  df[column] = df[column].replace(np.NaN, mean)

In [ ]:
x = df.iloc[:, 0:8]
y=df.iloc[:, 8]
x_train, x_test, y_train, y_test=train_test_split(x, y, random_state=0, test_size=0.2)

In [ ]:
stdscl = StandardScaler ()
x_train=stdscl.fit_transform(x_train)
x_test=stdscl.transform(x_test)

In [ ]:
import math
math.sqrt(len(y_test))

12.409673645990857

In [ ]:
classifier = KNeighborsClassifier (n_neighbors=11, p=2, metric='euclidean')
classifier.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=11, p=2,
                     weights='uniform')

In [ ]:
y_pred=classifier.predict(x_test)
y_pred

array([1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[94 13]
 [15 32]]

In [ ]:
print (f1_score(y_test, y_pred))

0.6956521739130436

In [ ]:
print (accuracy_score(y_test, y_pred))

0.8181818181818182